<nav
  [style]="paddingBottomNavContent"
  class="navbar navbar-dark red lighten-1 shadow"
>
  <!--my-fixed-item static-top-->

  <style>
    .vl {
        border-left: 1px solid white;
        height: 25px;
        color #fff;
        margin-top:15px!important;
    }
  </style>
  

  <div class="row">
    <div style="padding-left:16px!important;padding-bottom:8px!important;" class="">
         <img src="/assets/img/Santander.svg" alt="Not found" style="width:18px; height:18px;">&nbsp;
         <img src="/assets/img/Santander_Logo_Menu.png" alt="Not found" style="width:99px; height:26.5px;">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="vl2" style="margin-top: 5px!important;border-left: 1px solid white;height: 18px;color #fff;"></div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a style="cursor:auto!important;"><strong>CRF&nbsp;</strong><sup>Analytics</sup><br></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a style="cursor:auto!important;">-&nbsp;&nbsp;<b style="font-size:14px;">{{window_name}}</b><br></a>
    &nbsp;&nbsp;
    <div *ngIf="logged" (click)="toggleMenu()" class="col screenHoverSelector2" id="eeeooo" style="height:25px!important;padding-top:3px!important;">
        <em [class]="menuBtnClass" id="boton_equis" style="color:white;cursor:pointer!important;"></em>   
    </div>
</div>
<!--Menú Izquierda con Logo Santander - END-->
<!--Menú Derecha con Logout-->
<div *ngIf="logged" class="col" style="color:white!important;padding-bottom:8px!important;position:relative!important;text-align:right;;padding-right:0px!important;">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a style="">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:white!important;cursor:auto!important;">
                    <strong style="">Risk:</strong>
                </span>
            </a>
            

            
            <select #purpose style="width: 95px;font-size:10px;font-weight:bold;" class="browser-default custom-select" (change)="onChangePurpose(purpose.value)" [(ngModel)]="purpose_model">
                <option selected>CREDIT</option>
                <option>CLIMATE</option>
            </select>
                &nbsp;
            <a class="vl" style="margin-top: 5px!important;"></a>&nbsp;
            <a style="">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:white!important;cursor:auto!important;">
                    <strong style="">Exercise Group: {{ exGroupSelected }}</strong></span>
            </a>
            <a class="vl" style="margin-top: 5px!important;"></a>&nbsp;
            <a class="" id="userDropdown" data-toggle="" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:white!important;cursor:auto!important;">
                    <strong style="">User: {{ user }}</strong></span>
            </a>
            <a class="vl" style=""></a>
                &nbsp;
            <a class="screenHoverSelector3" style="text-decoration: none;" routerLink="/logout" id="userDropdown" (click)="logout()" data-toggle="" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small " style="color:white!important;">
                    <strong style="">Log out</strong>
                </span> 
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:white!important;">
                    <strong><em class="pi pi-sign-out" style="font-size:12px;"></em></strong>
                </span>
            </a>
        </li>
    </ul>
</div>
<!--Menú Derecha con Logout - END-->


</nav>


