

<nav class="navbar navbar-expand-sm navbar-dark bg-danger shadow-sm">
	<div class="container">
		<button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item" routerLinkActive="active" *ngFor="let item of items">
					<a class="nav-link text-uppercase" [routerLink]="item.toLowerCase()">{{ item }}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<app-varcontent></app-varcontent>

<app-templates-filler></app-templates-filler>
